@{
    ViewBag.Title = "Default Lead";
    Layout = "~/Views/MP/MP_PurchasingCenter.cshtml";
}

<div class="mainContent">
        <div class="fl_l" style="width:100%">
        @Html.Partial("UC/SearchForEmLead")
        
        @Html.Partial("PurchasingCenter/CreateEmLeadTab")
        <div class="clean50"></div>
    </div>
</div>
@section js{
    <script src="@Url.js("jquery.validate.min.js")" type="text/javascript"></script>

    <script>
        $(function () {

            $('#saveCreateEmLead').validate(
             {
                 rules: {
                     txtLeadName: {
                         minlength: 4,
                         required: true
                     },
                     txtKeyword: {
                         required: true
                     },
                     hidAllSupplierCompID: {
                         required: true
                     }
                 },
                  messages: {
                    hidAllSupplierCompID: "Please Select Company!"
                },
                 highlight: function (label) {
                     $(label).closest('.control-group').removeClass('success');
                     $(label).closest('.control-group').addClass('error');
                 },
                 success: function (label) {
                     label.closest('.control-group').removeClass('error');
                     label.closest('.control-group').addClass('success');

                 }
             });

        });
    </script>

   
}