@using res = Prosoft.Resource.Web.Ouikum;
<div class="advance_search" style="padding:20px;border-radius:5px; margin:10px 0px 10px 0px;width: 96.3%">
    <table>
    <tr>
        <td><text class="fl_l">@res.Common.lblKeyword :</text></td>
        <td><input type="text" class="span3 mar_10" name="SearchText" placeholder="@res.Common.lblSearch" /></td> 
        <td><text class="fl_l">ตำแหน่งที่แสดง :</text></td>
        <td>
            <select class="mar_10" name="SearchType" style="width: 263px; margin-left: 0px;">
                <option selected="selected" value="All">@res.Common.lblAll</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><text class="fl_l">วันที่แก้ไข :</text></td>
        <td>
            <input type="text" id="ddlFindDatePeriod" name="Period" class="rangeA span3 mar_t10 mar_r5" placeholder=" --@res.Common.colSelectAll--" disabled readonly=readonly/>
            <input type="checkbox" id="SelectAllPeriod" class="tootip-buttom" title="Customize" />
        </td>
        <td><button type="submit" class="btn btn-darkblue mar_l20 btnsearch"><i class="icon-search icon-white mar_t3"></i></button></td>
    </tr>
    </table>
</div>


<script type="text/javascript">
    $(function () {
        $('.rangeA').daterangepicker();
        $('.tootip-buttom').tooltip({ placement: 'bottom' });
    });
</script>