body {
    min-width:250px;
    min-height:460px;
    font-family:Tahoma;
    overflow:hidden;
}

.scroll-ProductList {
    position:absolute;
    background-color:#fff;
    width:100%;
    z-index:100;
    overflow:auto; 
    overflow-x:hidden; 
    top:91px;
    bottom:0px;
}

.scroll-ProductDetail {
    position:absolute;
    background-color:#fff;
    width:100%;
    z-index:100;
    overflow:auto;  
    bottom:61px;
}

/*/////////////////////////////////// Product List //////////////////////////////////////*/

.list-Product {
    width:100%;
    min-width:350px;
    padding:20px 5%;
    font-size:1em;
    border-bottom: 1px solid #D5D5D5;
    border-bottom-style:dotted;
    float:left;
}

.list-image img{
    min-width:75px;
    min-height:75px;
    max-width:120px;
    max-height:120px;
    width:10%;
    text-align:center;
    float:left;
    margin-right:4%;
}

.list-ctProduct {
    width:73%;
    min-width:100px;
    height:100%;
    float:left;
}

/*/////////////////////////////////// Product Detail //////////////////////////////////////*/


.item img{
    max-width:200px !important;
    max-height:200px !important;
    margin:auto auto;
}

.carousel-control {
    font-size:35px;
    line-height:24px;
    border:0px;
    width:30px !important;
    height:30px !important;
    background-color:#808080 !important;
    border-radius:50%;
}

.carousel-control.right {
    right:0% !important;
    top:65px !important;
}

.carousel-control.left {
    left:0% !important;
    top:65px !important;
}

.Proprice-area,Prodetail-area,.ProContact-area {
    width:100%;
    padding:10px 0px 10px 0px;
    font-size:1.1em;
}

.line-Subtopic {
    width:100%;
    border-top:1px solid #ccc;
}

.Subtopic {
    width:15%;
    margin:2px auto 5px auto;
    min-width:140px;
    background-color:#fff;
    text-align:center;
    position:relative;
    bottom:15px;
    font-size:1.1em !important;
    color:#C0C0C0;
}
.des_img img {
    width:35px;
    height:auto;
}

.Prodetail{
    width:100%;
    font-size:1em;
}

.ProContact {
    width:100%;
    font-size:1em;
}

.star-icon img{
    width:25px;
    height:25px;
    margin-left:100px;
}

.social_name {
    width:80%;
    float:left;
}
.fontlink-blue{color:#0088CC !important;cursor:pointer;}
.fontlink-blue:hover{text-decoration:underline;}



/*/////////////////////////////// Container Contact Page Only  ///////////////////////////////*/

#message-Target,#requestprice-Target,#tel-Target{
    width:99.96%;
    height:100%;
    bottom:0px;
    margin-top:50px;
    background-color:#e9e9e9;
    position:absolute;
    z-index:700;
    overflow:auto;
}

.scroll-contact {
    position:absolute;
    width:100%;
    z-index:760;
    overflow:auto;  
    top:91px;
    bottom:0px;
}

#message-body,#requestprice-body,#tel-body{
    width:100%;
    min-height:380px;
    bottom:0px;
    top:20px;
    padding: 0% 5% 0% 5%;
    font-size:1.05em;
    float:left;
    position:absolute;
    z-index:750;
    background-color:#e9e9e9;   
}

#requestprice-body{
    width:100%;
    min-height:420px;
    bottom:0px;
    top:20px;
    padding: 0% 5% 0% 5%;
    font-size:1.05em;
    float:left;
    position:absolute;
    z-index:750;
    background-color:#e9e9e9;   
}

.social-icon img{
    width:20px;
    height:20px;
    margin-right:10px;
}

.close-icon img {
    width:25px;
    height:25px;
}

/*//////////////////////////////////// Form  ////////////////////////////////////////*/

.form-area2 {width:49.5%;}
.form-area3 {width:33.33%;}