 @using res = Prosoft.Resource.Web.Ouikum;
 @using Ouikum;
 <div id="modal_form" style="text-align:center;"> 
 <select id="ExtendMonth" style="width:150px;">
 @for (var i = 1; i < 12;i++ )
 {
    <option value="@i">@i&nbsp;@res.Common.lblMonth</option>
 }
 <option value="12">1 @res.Common.lblYear</option>
 </select>
    <button class="btn" onclick="Extend_lifetime($('#ExtendMonth').val());">@res.Common.btnSave</button>
</div>